$primary: #ff7700;
$secondary: #0b1632;
$third : rgb(119, 203, 113);
$fourthy : rgb(134, 146, 217);

$light : rgb(246, 246, 246);
$dark : rgb(34, 34, 34);
$gradient : linear-gradient(16deg, rgba(237, 114, 20, 1) 0%, rgba(255, 102, 0, 1) 100%);