.link-button {
  background-color: $light;
  color: $primary;
  padding: 10px;
  font-weight: 800;
  font-size: 3.8vw;
  border-radius: 5px;
}

.btn {
  padding: 10px 25px;
  font-weight: 800;
  font-size: 16px;
  border-width: 1px;
}

.btn-color {
  background-color: $primary;
  color: $light;
}
