.card {
	@include sizeContainer(90%, 120px);
	text-align: center;
	background-color: $primary;
	margin: 20px 0;
	border-radius: 10px;

	a {
		color: $light;
		font-size: 20px;
		line-height: 120px;
		font-weight: 800;
	}
}
