footer {
	padding: 15px 10px 80px 10px;

	h2 {
		transform: rotateZ(-5deg);
		text-align: left;
	}
}
.container-footer {
	@include flex(space-around, flex-start);
}

ul {
	@include sizeContainer(48%, auto);
	max-width: 160px;
	margin-top: 20px;
	font-weight: bold;
	font-size: 20px;

	li{
		color: black;
	}

    &:last-child {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
        }
    }

}
