form {
  background: $gradient;
  color: $light;
  padding-bottom: 5px;

  h2{
    padding: 10px 0;
  }
  .form-data {
    padding-left: 25px;
    label {
      display: block;
      font-size: 22px;
      font-weight: 600;
      margin: 10px 0;
    }

    input {
      @include sizeContainer(90%, 40px);
      border: 2px solid $primary;
      color: $primary;
      padding-left: 15px;
      font-size: 20px;
      font-weight: 800;
    }
  }

  input[type="submit"] {
    margin: 30px auto;
    display: block;
  }

  .radio-input {
    @include sizeContainer(100%, 40px);
    @include flex(flex-start, center);
    font-size: 24px;
    padding-left: 20px;
    margin: 15px 0;

    label {
      margin: 0 7px;
    }
  }

  input[type="radio"] {
    @include sizeContainer(20px, 20px);
  }

  .validation {
    font-size: 30px;
    line-height: 25px;
    font-weight: bolder;
    padding: 10px 25px;
  }

  .success {
    color: green;
  }

  .error {
    color: rgb(255, 0, 0);
  }
}
