.modal {
  position: fixed;
  @include sizeContainer(100%, 100%);
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: darken($color :$light, $amount : 10);
  flex-direction: column;

  h2,
  p {
    text-align: left;
    color: black;
  }

  .container-modal {
    @include sizeContainer(90%, 80vh);
  }

  .header-modal h2 {
    color: $dark;
    padding: 20px;
    font-weight: bolder;
    text-align: left;
  }

  .content-modal {
    text-align: justify;
    padding: 10px 20px;
    color: $dark;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;

    .content-other {
      margin: 20px 0;
    }
  }

  .close-modal {
    position: absolute;
    top: 2%;
    right: 4%;
    color: $primary;
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
  }
}
