.tabs-navigation {
	@include sizeContainer(100%, 50px);
	display: flex;
	background-color: $light;
	border-top: 1px solid lighten($color: $dark, $amount: 30);;


	li {
		@include sizeContainer(calc(100% / 4), 50px);
		padding: 10px 40px;
	}

	a {
		img {
			width: 100%;
			min-width: 20px;
			max-width: 50px;
		}
	}

	.active-tab {
		background-color: lighten($color: $primary, $amount: 10);
	}
}
