.top-bar {
	@include flex(space-around, center);
	padding: 10px 0;

	h1 {
		color: $primary;
		transform: rotateZ(-5deg);
		font-size: 28px;
	}
	
	.link-button{
		background-color: $primary;
		color:$light;
	}
}

.logged {
	@include flex(space-between, center);
	padding: 10px 20px;

	.container-avatar {
		width: 10%;
		border-radius: 50%;
	}
}
